<template>
  <div class='calculator'>
    <div class='display'>{{current || '0'}}</div>
    <div @click="clear" class='btn'>C</div>
    <div @click="sign" class='btn'>+/-</div>
    <div @click="percent" class='btn'>%</div>
    <div @click="divide" class='btn operator'>÷</div>
    <div @click="num('7')" class='btn'>7</div>
    <div @click="num('8')" class='btn'>8</div>
    <div @click="num('9')" class='btn'>9</div>
    <div @click="times" class='btn operator'>x</div>
    <div @click="num('4')" class='btn'>4</div>
    <div @click="num('5')" class='btn'>5</div>
    <div @click="num('6')" class='btn'>6</div>
    <div @click="minus" class='btn operator'>-</div>
    <div @click="num('1')" class='btn'>1</div>
    <div @click="num('2')" class='btn'>2</div>
    <div @click="num('3')" class='btn'>3</div>
    <div @click="add" class='btn operator'>+</div>
    <div @click="num('0')" class='btn zero button-bottom'>0</div>
    <div @click="decimal" class='btn button-bottom'>.</div>
    <div @click="equal" class='btn operator button-bottom'>=</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      previous: null,
      current: '',
      operator: null,
      operatorClicked: false
    };
  },
  methods: {
    clear() {
      this.current = '';
    },
    sign() {
      this.display =
        this. current = this.current.charAt(0) === '-' ?
        this.current.slice(1) : `-${this.current} `;
    },
    percent() {
      this.current = `${parseFloat(this.current) / 100}`
    },
    num(number) {
      if (this.operatorClicked){
         this.current = '';
         thus.operatorClicked = false;
      }
      this.current = `${this.current}${number}`;
      

    },
    decimal() {
      if (this.current.indexOf('.') === -1) {
        this.num('.');
      }
    },
    
    divide() {
      this.operator = (a, b) => a / b;
      this.previous = this.current;
      this.operatorClicked = true;
    },
    times() {
      this.operator = (a, b) => a * b;
     this.previous = this.current;
      this.operatorClicked = true;
    },
    minus() {
      this.operator = (a, b) => a - b;
      this.previous = this.current;
      this.operatorClicked = true;
    },
    add() {
      this.operator = (a, b) => a + b;
      this.previous = this.current;
      this.operatorClicked = true;
    },
    equal() {
     this.current = `${this.operator(
       parseFLoat(this.current),
        parseFLoat(this.previous)
     )}`;
     this.previous = null;
    }
  }
}
</script>

<style scoped>
.calculator {
  margin: 0 auto;
  width: 400px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10vh, auto);
  border: 5px solid #111;
  box-shadow: -3px 3px 15px rgba(17,17,17,0.4);
  line-height: 10vh;
}

.display {
  grid-column: 1 / 5;
  background: #ddd; 
  border: 1px solid #111;
  border-top: 0;
  font-size: 2.5rem;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1rem;
}

.zero {
  grid-column: 1 / 3;
}

.btn {
  background-color: #FFFACD;
  background: linear-gradient(15deg,hsl(0, 0%, 70%) 0%, hsl(0, 0%, 80%) 100%);
  border: 1px solid #111;
  cursor: pointer;
}
  
.button:active {
  outline:none;
  border: 1px solid #000000BF; 
  box-shadow: inset 0px 0px 5px #00000080; 
  -moz-box-shadow: inset 0px 0px 5px #00000080;
  -webkit-box-shadow: inset 0px 0px 5px #00000080;
}

.button-bottom {
  border-bottom: 0;
}

.operator {
  background-color: burlywood;
}
</style>
